<p-toolbar styleClass="bg-indigo-800">
  <div class="p-toolbar-group-start">
    <p-button
      label="Dashboard"
      routerLink="/dashboard"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLinkActive="exact_route"
    ></p-button>
  </div>

  <div class="p-toolbar-group-center">
    <p-button
      label="Produtos"
      routerLink="/products"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    ></p-button>
    <p-button
      label="Categorias"
      routerLink="/categories"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    ></p-button>
    <p-button
      label="Efetuar Venda"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLinkActive="exact_route"
      routerLink="/products"
      class="mr-2"
    ></p-button>
  </div>
  <div class="p-toolbar-group-end">
    <p-button
    label="Sair"
    styleClass="p-button-danger"
    (onClick)="handleLogout()"
    ></p-button>
  </div>
</p-toolbar>
